autopep8==1.6.0
Brlapi==0.8.4
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.6
click==8.1.3
cupshelpers==1.0
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1
fuse-python==1.0.5
gpg==1.17.1
gyp==0.1
httplib2==0.20.4
idna==3.3
libvirt-python==8.4.0
louis==3.22.0
pycairo==1.20.1
pycodestyle==2.8.0
pycups==2.0.1
pycurl==7.45.2
PyGObject==3.42.2
pylibacl==0.6.0
pyparsing==3.0.7
PyQt5==5.15.9
PyQt5-sip==12.11.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.3.0+b2
python-debian==0.1.46
python-debianbts==3.2.3
pyxattr==0.7.2
pyxdg==0.27
reportbug==11.5.0
requests==2.27.1
six==1.16.0
toml==0.10.2
tornado==6.2
unattended-upgrades==0.1
urllib3==1.26.9
vboxapi==1.0
xdg==5
